body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
   
}
.container{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0 ,0,.5), rgba(0, 0, 0, .5)), url(image/donation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}
.logo-area{
    width: 30%;
    color:aquamarine;
    margin-left: 90px;
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

small{
    color:gold;
}
.info-area{
    width: 100%;
    text-align: center;
    margin-top: 150px;
    
}
.info-area h1{
    color:gold;
    font-size: 50px;
    font-weight: bold;
   ;
}

.info-area p{
    color:white;
    font-size: 20px;
   
    
}

.info-area a{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
}
.info-area-two{
    width: 100%;
    text-align: center;
    margin-top: 150px;
     
}
.info-area-two h1{
    color:black;
    font-size: 50px;
    
}
.info-area-two p{
    font-size: 20px;
    color: gray;

}
.count{
    display: flex;
    flex-wrap: wrap;
    margin-left: 220px;
   
}
.count li{
    margin-right: 55px;
    background-color: aliceblue;
    padding: 25px 20px;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    color:gray;
    border-radius: 4px;
}
.li-color#count-2{
    background-color:rgb(249, 223, 221);
    border: 1.8px solid orangered;
    color: tomato;
}
.text-type{
    width: 50%;
    text-align: center;
    margin-top: 50px;
    margin-left: 330px;
}
.text-type input{
    border: none;
}
.text-type a{
    text-decoration: none;
}
.button-1{
    background-color:tomato;
    padding: 10px 40px ;
    border-radius: 10px;
    color: white;
    margin-right: 40px;
}
.donate-plan{
    width: fit-content;
    text-align: center;
    margin-top: 100px;
    margin-left: 300px;
   
}
.donate-plan h1{
    color: black;
    font-size: 50px;
    
}
.donate-plan p{
    font-size: 20px;
    color: gray;
  
}
.help-info{
    width: 80%;
    display: flex;
    margin-left: 140px;
    margin-top: 30px

}

.content{
    padding: 50px 10px;
    background-color: rgb(243, 219, 223);
    margin: 10px;
    border-radius: 5px;
}
.content#First{
    background-color:rgb(232, 238, 238);
}
.content#third{
    background-color: rgb(250, 236, 219);
}

